<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <style>
    	html {
    	  font-size: 14px;
    	}
    	@media (min-width: 768px) {
    	  html {
    	    font-size: 16px;
    	  }
    	}

    	.container {
    	  max-width: 960px;
    	}

    	.pricing-header {
    	  max-width: 700px;
    	}

    	.card-deck .card {
    	  min-width: 220px;
    	}

    	.border-top { border-top: 1px solid #e5e5e5; }
    	.border-bottom { border-bottom: 1px solid #e5e5e5; }

    	.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
	</style>

    <title>The Best Online Store</title>
  </head>
  <body>
  	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  	  <h5 class="my-0 mr-md-auto font-weight-normal">The Best Online Store</h5>

  	  <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#cartModal">
  	  	My Cart
  	  	<i class="fa fa-shopping-cart ml-1" aria-hidden="true"></i>
  	  </a>
  	</div>

  	<div class="container d-flex flex-column align-items-center">
	  	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		    <h1>Current Products</h1>
	    </div>

	    <div class="col-8 py-4 my-2">

    		{% for product in products %}

	    	  <div class="card mb-4 box-shadow">
	    	    <div class="card-header">
	    	      <h4 class="my-0 font-weight-normal text-center"></h4>
	    	    </div>
	    	    <div class="card-body">
	    	    	<h4 class="card-title pricing-card-title">{{ product }}</h4>
	    	    	<hr>
		    	    <ul class="list-unstyled mt-3 mb-4 text-large">
		    	        <li class="py-1"><strong class="mr-1">Brand name:</strong> {{ product.brand }}</li>
		    	        <li class="py-1"><strong class="mr-1">UPC:</strong> {{ product.upc14 }}</li>
		    	        <li class="py-1"><h5><strong class="mr-1">Price:</strong> ${{ product.price }}</h5></li>
		    	    </ul>

		    	    <div class="col-6 mx-auto">
	    	      		<button type="button" class="btn btn-lg btn-block btn-outline-primary">Add to Cart</button>
    	      		</div>
	    	    </div>
	    	  </div>

    	  	{% endfor %}

	    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cartModalLabel">My Shopping Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">
            	Checkout now
            	<i class="fa fa-shopping-cart ml-1" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>